h1 {
  background-color: rgb(197, 255, 191);
  /* border-bottom: 1px solid black; */
  box-shadow: 0 4px 2px -2px rgb(197, 197, 197);
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  font-family: sans-serif;
  font-size: 1.5em !important;
  width: 100%;
}
.user {
  float: right;
  margin-right: 3%;
  margin-top: 5px;
  font-size: 0.6em;
}
@media only screen and (max-width: 500px) {
  h1 {
    padding: 3%;
  }
}
