html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: white;
  margin: 0;
  overflow-x: hidden;
}

.main-menu ul {
  padding: 0;
}
.main-menu li {
  list-style: none;
  text-align: center;
  margin: 1% 20% 1% 20%;
  padding: 1%;
}
.main-menu .btn {
  width: 100%;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: rgb(245, 245, 245);
  padding: 10px 20px 10px 20px;
  border: solid #000000 1px;
  text-decoration: none;
}
.main-menu .btn:hover {
  background: rgb(230, 230, 230);
  text-decoration: none;
}
footer {
  background-color: rgb(245, 245, 245);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.image {
  text-align: center;
  width: 100%;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: 15px;
}
.image img {
  text-align: center;
  border-radius: 20px;
  padding: 0px;
  width: 100%;
  box-shadow: 2px 2px 2px 0px rgb(197, 197, 197);
}
@media only screen and (min-width: 300px) {
  .image img {
    width: 70%;
  }
}
@media only screen and (min-width: 500px) {
  .image img {
    width: 35%;
  }
}
.question-container {
  margin: 2%;
  border-radius: 4px;
  background-color: rgb(248, 248, 248);
  text-align: center;
}
.question {
  background-color: rgb(245, 245, 245);
  margin: 0;
}
.answers {
  text-align: left;
  margin: 0 auto;
}
.answers-container {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.row {
  padding-top: 1%;
  margin-left: 0px;
  margin-right: 0px;
}
