html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: white;
  margin: 0;
  overflow-x: hidden;
}

.main-menu ul {
  padding: 0;
  list-style: none !important;
}
.main-menu li {
  list-style: none !important;
  text-align: center;
  margin: 1% 20% 1% 20%;
  padding: 1%;
}
.answers ul {
  list-style: none;
}
.answers li {
  width: 100%;
  margin-bottom: 2%;
}
.main-menu .btn {
  width: 100%;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: rgb(245, 245, 245);
  padding: 10px 20px 10px 20px;
  border: solid #000000 1px;
  text-decoration: none;
}
.main-menu .btn:hover {
  background: rgb(230, 230, 230);
  text-decoration: none;
}

.maincontent .image {
  text-align: center;
  width: 100%;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.image img {
  text-align: center;
  border-radius: 20px;
  padding: 0px;
  width: 100%;
  box-shadow: 2px 2px 2px 0px rgb(197, 197, 197);
  margin-top: 2%;
}
@media only screen and (min-width: 300px) {
  .image img {
    width: 70%;
  }
}
@media only screen and (min-width: 540px) {
  .image img {
    width: 30%;
  }
  .answers-container {
    display: flex;
    justify-content: center;
  }
}
.question-container {
  margin: 2%;
  border-radius: 4px;
  background-color: rgb(248, 248, 248);
  text-align: center;
}
.question {
  background-color: rgb(245, 245, 245);
  margin: 0;
}
.answers {
  text-align: left;
  margin: 0 auto;
}
.answers-container {
  text-align: center;
  width: 100%;
}
.row {
  padding-top: 1%;
  margin-left: 0px;
  margin-right: 0px;
}
/*STYLE FOR RADIOBUTTONS*/
/* The container */
.containerrb {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  line-height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerrb input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.containerrb:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerrb input:checked ~ .checkmark {
  background-color: #f9ae3b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerrb input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerrb .checkmark:after {
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/*END RADIO*/
.leftarrow {
  float: left;
  margin-left: 2%;
  width: 30px;
  height: 58px;
}
.rightarrow {
  float: right;
  margin-right: 2%;
  width: 30px;
  height: 58px;
}
.arrowbtn:hover {
}
.arrowbtn img {
  width: 30px;
  position: absolute;
  top: 50%;
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none;
  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}
.rightarrow .arrowbtn img {
  float: right;
}
.drag-controls {
  display: none;
}
@media only screen and (max-width: 540px) {
  .leftarrow {
    display: none;
  }
  .rightarrow {
    display: none;
  }
  .drag-controls {
    display: block;
    height: 200px;
  }
}
.maincontent {
}
